<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cs.sdu.edu.cn.Map</string>
	<string>cs.sdu.edu.cn.tool</string>
	<string>cs.sdu.edu.cn.SBMA.elves</string>
	<string>cs.sdu.edu.cn.Equipment</string>
</array>
</plist>
